.cart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid #333;
  padding: 1rem;
  width: 13rem;
  position: relative;
  transition: all 0.5s;
}

.cart:hover {
  background-color: #50c878;
}

.total-price,
.cart-logo {
  font-size: 2.2rem;
}

.cart-logo {
  margin-right: 1rem;
}
