.navbar {
  display: flex;
  padding: 2.8rem;
  justify-content: space-between;
  align-items: center;

  background-color: #eee;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.121);
}

.navbar__logo-text:link,
.navbar__logo-text:visited {
  font-size: 2.5rem;
  text-decoration: none;
  color: #333;
}

.navbar__links {
  display: flex;
  width: 25%;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.navbar__links a:link,
.navbar__links a:visited {
  font-size: 2rem;
  text-decoration: none;
  color: inherit;
  transition: all 0.5s;
}

.total-items {
  position: absolute;
  left: 2.4rem;
  bottom: 55%;
  background-color: red;
  color: #fff;
  border-radius: 5rem;
  width: 1.8rem;
  height: 1.8rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
