.book {
  display: flex;
  flex-direction: column;
  width: 22rem;
  text-align: center;
  transition: all 0.4s;
  padding: 3px 8px;
}

.book:hover {
  box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.2);
  transform: scale(1.08) translateY(1rem);
}

.book:not(:last-child) {
  margin-bottom: 1rem;
}

.book__img img {
  width: 20rem;
}

.book__name,
.book__price {
  font-size: 1.5rem;
  font-weight: 600;
}

.btn {
  width: 100%;
  background-color: #333;
  color: #fff;
  font-size: 1.8rem;
  border: none;
  padding: 4px;
}

.btn-logo {
  font-size: 1.8rem;
}

.btn-gotocart {
  width: 100%;
  background-color: #ddd;
  color: #333;
  font-size: 1.8rem;
  border: none;
  padding: 4px;
}
